@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	.addon-bar:not([placement="bottom"]) {
		-moz-appearance: none !important;
		background: none !important;
		overflow: hidden;
		opacity: 1;
	}
	
	#thePuzzlePiece-corner-container:not(:-moz-lwtheme),
	.addon-bar[placement="corner"]:not(:-moz-lwtheme) {
		background-image: none;
	}
	
	.addon-bar[placement="corner"] {
		padding: 2px 0;
		margin: 0 5px;
		-moz-appearance: none !important;
		border: none !important;
	}
	
	.addon-bar[placement="urlbar"] {
		border: none;
		box-shadow: none;
		padding: 1px 3px 0px 3px;
		max-height: 20px; /* I swear this one makes me mad trying to figure out why it increases the height of the location bar only sometimes */
	}
	
	.addon-bar:not([placement="bottom"])[collapsed="true"] {
		display: -moz-box !important;
		visibility: visible !important;
		pointer-events: none;
	}
	
	.addon-bar[placement="urlbar"][collapsed="true"],
	#thePuzzlePiece-corner-container[collapsed="true"] {
		opacity: 0;
	}
	
	/* special rules for the corner container */
	#thePuzzlePiece-corner-container {
		background-color: inherit;
		position: fixed;
	}
	#thePuzzlePiece-corner-container[collapsed="true"] {
		display: -moz-box !important;
		visibility: visible !important;
		pointer-events: none;
	}
	
	/* for fullscreen */
	#thePuzzlePiece-corner-container[moz-collapsed="true"],
	.addon-bar:not([placement="bottom"])[moz-collapsed="true"],
	.addon-bar[placement="bottom"][moz-collapsed="true"]:not([collapsed="true"]) {
		visibility: visible !important;
	}
	
	/* keep it from jumping around when toggling placements */
	#browser-bottombox > .addon-bar:not([placement="bottom"]) {
		visibility: collapse !important;
	}
	
	/* Inner buttons and other elements display */
	/* !important tags are necessary, especially for inURLBar */
	.addon-bar .toolbarbutton-icon:not(:hover) {
		background: none !important;
		border: none !important;
		box-shadow: none !important;
	}
	.addon-bar .toolbarbutton-icon {
		max-height: 18px;
	}
	.addon-bar[placement="urlbar"] .toolbarbutton-icon {
		padding: 0 !important;
	}
	#nav-bar .addon-bar[placement="urlbar"] *:not(.toolbarbutton-menubutton-button):not(.toolbarbutton-combined) > .toolbarbutton-icon {
		margin: 0 2px;
	}
	#nav-bar .addon-bar[placement="urlbar"] .toolbarbutton-1[type="menu"] .toolbarbutton-menu-dropmarker {
		-moz-margin-start: 0;
	}
	#nav-bar .addon-bar[placement="urlbar"] .toolbarbutton-1[type="menu-button"] dropmarker image {
		border: none;
	}
	
	/* #fixer-status-bar selector is from UI Fixer add-on "make status bar movable" feature */
	.addon-bar > toolbaritem:not(#fixer-status-bar):not(#thePuzzlePiece-status-bar-container):not(#search-container) {
		height: 18px;
	}
	
	.addon-bar > toolbarbutton {
		-moz-appearance: none;
	}
	
	.addon-bar > toolbarspring,
	.addon-bar > toolbarpaletteitem[type="spring"] {
		min-width: 10px;
	}
	
	.addon-bar[placement="urlbar"] > toolbarspring {
		visibility: collapse !important;
	}
	
	.addon-bar[placement="corner"] #status-bar {
		max-height: 18px;
	}
	.addon-bar[placement="urlbar"] > *:not(:-moz-any(toolbarseparator, [type="separator"], toolbarspring, [type="spring"])) {
		max-height: 18px;
	}
	.addon-bar[placement="urlbar"] > *:not(:-moz-any(toolbarseparator, [type="separator"], toolbarspring, [type="spring"], [type="menu-button"], .toolbaritem-combined-buttons)) {
		padding: 0px 1px !important;
	}
	.addon-bar[placement="urlbar"] > toolbarseparator,
	.addon-bar[placement="urlbar"] > toolbarpaletteitem[type="separator"],
	.addon-bar[placement="urlbar"] > toolbarspring,
	.addon-bar[placement="urlbar"] > toolbarpaletteitem[type="spring"] {
		max-height: 18px;
	}
	
	.addon-bar #status-bar label {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.addon-bar > * > toolbarbutton {
		-moz-appearance: none;
		border: none;
	}
	
	.addon-bar > * toolbarbutton {
		padding: 0px 3px !important;
	}
	
	.addon-bar *:not(#bookmarks-menu-button) > dropmarker {
		padding: 0 2px !important;
		border: none;
	}
	
	.addon-bar *:not(#bookmarks-menu-button) > dropmarker image {
		padding: 0 !important;
	}
	
	/* little tweaks to make the search bar fit better */
	.addon-bar:not([placement="bottom"]) #search-container {
		min-width: calc(54px + 22ch);
	}
	.addon-bar[placement="bottom"] #search-container,
	.addon-bar[placement="urlbar"] #searchbar /* this one is just so weird to look at though */ {
		margin: -1px 0 -2px;
	}
	.addon-bar[placement="corner"] #search-container {
		margin: -2px 0;
	}
	
	/* the bookmarks button is a special case because of its dropmarker */
	.addon-bar #bookmarks-menu-button dropmarker {
		padding: 0 3px !important;
		border: none;
	}
	.addon-bar #bookmarks-menu-button dropmarker image {
		padding: 0 !important;
	}
	
	/* SDK icons need a little helping fitting in the location bar */
	#nav-bar .addon-bar[placement="urlbar"] > toolbarbutton[sdk-button="true"][cui-areatype="toolbar"] > .toolbarbutton-icon {
		width: auto;
	}
	/* so do Tab Utilities icons */
	#nav-bar .addon-bar[placement="urlbar"] > #button_tuOptions .toolbarbutton-icon,
	#nav-bar .addon-bar[placement="urlbar"] > #closetab-button .toolbarbutton-icon {
		height: 16px !important;
		width: 16px !important;
	}
	/* and Quick Locale Switcher *sniff*... */
	#nav-bar .addon-bar[placement="urlbar"] > #tbtnCavemanQLS .toolbarbutton-icon {
		padding-top: 4px !important;
		padding-bottom: 3px !important;
	}
	/* and the zoom control reset button */
	#nav-bar .addon-bar[placement="urlbar"] #zoom-reset-button .toolbarbutton-text {
		padding: 1px 0 0 0;
		border: none;
		background: none;
		box-shadow: none;
	}
	/* all combined buttons have a margin in the nav-bar */
	#nav-bar .addon-bar[placement="urlbar"] .toolbaritem-combined-buttons {
		margin: 0;
	}
	/* greasemonkey shows a little background in the dropmarker when the button is disabled (no idea where it comes from though */
	#nav-bar .addon-bar[placement="urlbar"] #greasemonkey-tbb[disabled="yes"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
		background: none;
	}
	
	/* don't show the little separator, as it'll be out of place in the add-on bar */
	.addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:before {
		display: none !important;
	}
	
	/* These are for the mouse over effects, !important tags are necessary especially for when inURLBar is true */
	.addon-bar toolbarbutton:not([disabled]):hover,
	.addon-bar toolbarbutton[open],
	.addon-bar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled]):hover {
		background-position: left, left, right !important;
		background-size: auto, 1px 100%, 1px 100% !important;
		background-repeat: no-repeat !important;
		background-image:	linear-gradient(to top, transparent, rgba(0,0,0,.15)),
					linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%),
		        		linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%) !important;
	}
	
	.addon-bar toolbarbutton:not([disabled]):hover image,
	.addon-bar toolbarbutton[open] image,
	.addon-bar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled]):hover image {
		border-color: transparent !important;
		box-shadow: none !important;
		background: none !important;
	}
	
	/* Puzzle Pieces */
	#thePuzzlePiece-left-PP,
	#thePuzzlePiece-right-PP {
		position: fixed;
	}
	
	#thePuzzlePiece-urlbar-PP {
		-moz-margin-end: 3px;
	}
	
	window[customizing="true"] .PuzzlePiece,
	window[thePuzzlePiece-hidePPs] .PuzzlePiece {
		display: none;
	}
	
	.PuzzlePiece image {
		list-style-image: url("chrome://thepuzzlepiece/skin/pp.png");
		cursor: pointer;
	}
	#thePuzzlePiece-left-PP image {
		-moz-image-region: rect(0px, 32px, 32px, 0px);
	}
	#thePuzzlePiece-right-PP image {
		-moz-image-region: rect(0px, 64px, 32px, 32px);
	}
	#thePuzzlePiece-urlbar-PP image {
		-moz-image-region: rect(0px, 96px, 32px, 64px);
	}
	#thePuzzlePiece-left-PP:hover image {
		-moz-image-region: rect(32px, 32px, 64px, 0px);
	}
	#thePuzzlePiece-right-PP:hover image {
		-moz-image-region: rect(32px, 64px, 64px, 32px);
	}
	#thePuzzlePiece-urlbar-PP:hover image {
		-moz-image-region: rect(32px, 96px, 64px, 64px);
	}
	
	#thePuzzlePiece-urlbar-PP image {
		height: 18px;
		width: 18px;
	}
	
	window:not([customizing="true"]):not([thePuzzlePiece-hidePPs]) .addon-bar:not([customizing="true"])[placement="bottom"]:not([movetoright]) {
		padding-left: 34px;
	}
	window:not([customizing="true"]):not([thePuzzlePiece-hidePPs]) .addon-bar:not([customizing="true"])[placement="bottom"][movetoright] {
		padding-right: 34px;
	}
	window:not([thePuzzlePiece-hidePPs]) .addon-bar[placement="corner"]:not([movetoright]) {
		margin-left: 19px;
	}
	window:not([thePuzzlePiece-hidePPs]) .addon-bar[placement="corner"][movetoright] {
		margin-right: 19px;
	}
	
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP):not([active]):not(:hover):not([hover]),
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP):not([autohide])[statusHide]:not(:hover):not([hover]),
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP)[autohide]:not(:hover):not([hover]) {
		opacity: 0;
	}
	
	#thePuzzlePiece-left-PP[bottomPlacement][active]:not(:hover):not([hover]) image {
		margin-left: 5px;
		transform: rotate(-60deg);
	}
	#thePuzzlePiece-right-PP[bottomPlacement][active]:not(:hover):not([hover]) image {
		margin-right: 5px;
		transform: rotate(60deg);
	}
	#thePuzzlePiece-right-PP[bottomPlacement]:hover image,
	#thePuzzlePiece-right-PP[bottomPlacement][hover] image,
	#thePuzzlePiece-right-PP[bottomPlacement]:not([active]) image,
	#thePuzzlePiece-left-PP[bottomPlacement]:hover image,
	#thePuzzlePiece-left-PP[bottomPlacement][hover] image,
	#thePuzzlePiece-left-PP[bottomPlacement]:not([active]) image {
		height: 32px;
	}
	
	.PuzzlePiece:not([noAnimation]):not(#thePuzzlePiece-urlbar-PP):not([active]):not(:hover):not([hover]),
	.PuzzlePiece:not([noAnimation]):not(#thePuzzlePiece-urlbar-PP)[autohide]:not(:hover):not([hover]) {
		transition: bottom .5s linear .2s, opacity .5s linear .2s, clip .5s linear .2s;
	}
	.PuzzlePiece:not([noAnimation]):not(#thePuzzlePiece-urlbar-PP):hover,
	.PuzzlePiece:not([noAnimation]):not(#thePuzzlePiece-urlbar-PP)[hover],
	.PuzzlePiece:not([noAnimation]):not(#thePuzzlePiece-urlbar-PP)[active] {
		transition: bottom .25s linear 0s, opacity .25s linear 0s, clip .25s linear 0s;
	}
	.PuzzlePiece:not([noAnimation]):not(#thePuzzlePiece-urlbar-PP):not([active]):not(:hover):not([hover]) image {
		transition: transform .5s linear .2s, margin .5s linear .2s, height .5s linear .2s;
	}
	.PuzzlePiece:not([noAnimation]):not(#thePuzzlePiece-urlbar-PP):hover image,
	.PuzzlePiece:not([noAnimation]):not(#thePuzzlePiece-urlbar-PP)[hover] image,
	.PuzzlePiece:not([noAnimation]):not(#thePuzzlePiece-urlbar-PP)[active] image {
		transition: transform .25s linear 0s, margin .25s linear 0s, height .25s linear 0s;
	}
	
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP) {
		clip: rect(0px, 32px, 32px, 0px);
	}
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP) image {
		transform: rotate(0deg);
	}
	#thePuzzlePiece-left-PP:not([active]):not(:hover):not([hover]) image {
		transform: rotate(-40deg);
	}
	#thePuzzlePiece-right-PP:not([active]):not(:hover):not([hover]) image {
		transform: rotate(40deg);
	}
	
	/* Animation in corners */
	#thePuzzlePiece-corner-container:not([noAnimation]):hover,
	#thePuzzlePiece-corner-container:not([noAnimation])[hover],
	#thePuzzlePiece-corner-container:not([noAnimation]):not([collapsed="true"]) {
		transition: bottom .25s linear 0s, opacity .25s linear 0s, clip .25s linear 0s;
	}
	#thePuzzlePiece-corner-container:not([noAnimation]):not([collapsed="true"])[autohide]:not(:hover):not([hover]) {
		transition: bottom .5s linear .2s, opacity .5s linear .2s, clip .5s linear .2s;
	}
	#thePuzzlePiece-corner-container:not([noAnimation])[collapsed="true"] {
		transition: bottom .5s linear 0s, opacity .5s linear 0s, clip .5s linear 0s;
	}
	
	.addon-bar:not([noAnimation])[placement="urlbar"]:hover,
	.addon-bar:not([noAnimation])[placement="urlbar"][hover],
	.addon-bar:not([noAnimation])[placement="urlbar"]:not([collapsed="true"]) {
		transition: opacity .25s linear 0s;
	}
	#urlbar:-moz-any(:not([autoHideWhenFocused]),[focused]) .addon-bar:not([noAnimation])[placement="urlbar"]:not([collapsed="true"])[autohide]:not(:hover):not([hover]) {
		transition: opacity .5s linear .2s;
	}
	.addon-bar:not([noAnimation])[placement="urlbar"][collapsed="true"] {
		transition: opacity .5s linear 0s;
	}
	
	.addon-bar[placement="urlbar"]:not([collapsed="true"]):hover,
	.addon-bar[placement="urlbar"]:not([collapsed="true"])[hover],
	#thePuzzlePiece-corner-container:not([collapsed="true"]):hover,
	#thePuzzlePiece-corner-container:not([collapsed="true"])[hover],
	window[customizing="true"] .addon-bar {
		opacity: 1;
	}
	
	#thePuzzlePiece-corner-container:not([autohide])[statusHide]:not(:hover):not([hover]),
	#thePuzzlePiece-corner-container[autohide]:not(:hover):not([hover]),
	#urlbar:-moz-any(:not([autoHideWhenFocused]),[focused]) .addon-bar[placement="urlbar"][autohide]:not(:hover):not([hover]) {
		opacity: 0;
	}
	
	/* in URLBar stuff */
	#thePuzzlePiece-urlbar-addonbar-container {
		overflow: hidden;
	}
	
	#thePuzzlePiece-urlbar-addonbar-container:not([active]),
	#urlbar:-moz-any(:not([autoHideWhenFocused]),[focused]) #thePuzzlePiece-urlbar-addonbar-container[autohide]:not(:hover):not([hover]) {
		width: 0px;
	}
	
	#thePuzzlePiece-urlbar-addonbar-container:not([noAnimation])[active] {
		transition: width .25s linear 0s;
	}
	#thePuzzlePiece-urlbar-addonbar-container:not([noAnimation]):not([active]) {
		/* These transitions aren't working for some reason! */
		transition: width .5s linear 0s;
	}
	#urlbar:-moz-any(:not([autoHideWhenFocused]),[focused]) #thePuzzlePiece-urlbar-addonbar-container:not([noAnimation])[autohide]:not(:hover):not([hover]) {
		transition: width .5s linear .2s;
	}
	
	/* fix for UIEnhancer, putting it here because it's easier than finding the right conditions to (un)load a separate style in this case */
	#urlbar[thePuzzlePiece-urlbar] #UIEnhancer_URLBar:not([noAnimation])[hover] {
		transition: width .25s linear 0s;
	}
	#urlbar[thePuzzlePiece-urlbar] #UIEnhancer_URLBar:not([noAnimation]):not([hover]) {
		transition: width .5s linear .2s;
	}
	
}
