@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	/* FindBar has an annoying 1px background that makes the add-on bar look ugly */
	#FindToolbar:not([movetotop]) {
		background-image: none;
	}
	
	#addon-bar {
		background-image: none;
		overflow: hidden;
		opacity: 1;
	}
	
	#addon-bar:not([inURLBar]) {
		position: fixed;
		border-radius: 8px 8px 0 0;
		padding: 3px 5px 0px 5px;
	}
	
	#addon-bar[inURLBar] {
		background: none;
		border: none;
		padding: 1px 0px 0px 0px;
	}
	
	#addon-bar[collapsed="true"]:not([customizing="true"]) {
		opacity: 0;
		display: -moz-box !important;
		visibility: visible !important;
		pointer-events: none;
	}
	
	/* for fullscreen */
	#addon-bar[moz-collapsed="true"] {
		visibility: visible !important;
	}
	
	/* Inner buttons and other elements display */
	#addon-bar:not([inURLBar]) image.toolbarbutton-icon {
		max-height: 16px;
	}
	#addon-bar[inURLBar] image.toolbarbutton-icon {
		max-height: 18px;
		min-width: 20px;
	}
	#addon-bar[inURLBar] image.toolbarbutton-icon {
		padding: 0px 2px !important;
	}
	#addon-bar[inURLBar] image[type="menu"].toolbarbutton-icon {
		-moz-padding-end: 17px !important;
	}
	
	#addon-bar:not([inURLBar]) > toolbaritem {
		height: 18px;
	}
	#addon-bar[inURLBar] > toolbaritem {
		height: 18px;
	}
	
	#addon-bar > toolbarbutton {
		-moz-appearance: none;
	}
	
	#addon-bar:not([inURLBar]) > toolbarseparator,
	#addon-bar:not([inURLBar]) > toolbarpaletteitem[type="separator"] {
		height: 16px;
		margin-bottom: -16px;
		position: relative;
		top: -16px;
	}
	
	#addon-bar > toolbarspring,
	#addon-bar > toolbarpaletteitem[type="spring"] {
		min-width: 10px;
	}
	
	#addon-bar:not([inURLBar]) #status-bar {
		max-height: 18px;
	}
	#addon-bar[inURLBar] > *:not(toolbarseparator):not([type="separator"]):not(toolbarspring):not([type="spring"]) {
		max-height: 18px;
		padding: 0px 1px !important;
	}
	#addon-bar[inURLBar] > toolbarseparator,
	#addon-bar[inURLBar] > toolbarpaletteitem[type="separator"],
	#addon-bar[inURLBar] > toolbarspring,
	#addon-bar[inURLBar] > toolbarpaletteitem[type="spring"] {
		max-height: 18px;
	}
	
	#addon-bar #status-bar label {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	#addon-bar > * > toolbarbutton {
		-moz-appearance: none;
		padding: 0 3px;
		border: none;
	}
	
	#addon-bar > * > dropmaker {
		padding: 0 3px;
		border: none;
	}
	
	/* These are for the mouse over effects, !important tags are necessary especially for when inURLBar is true */
	#addon-bar > toolbarbutton:not([disabled]):hover,
	#addon-bar > toolbarbutton[open],
	#addon-bar > toolbarbutton > .toolbarbutton-menubutton-button:not([disabled]):hover {
		background-position: left, left, right !important;
		background-size: auto, 1px 100%, 1px 100% !important;
		background-repeat: no-repeat !important;
		background-image:	-moz-linear-gradient(bottom, transparent, rgba(0,0,0,.15)),
					-moz-linear-gradient(bottom, transparent, rgba(0,0,0,.15) 30%),
		        		-moz-linear-gradient(bottom, transparent, rgba(0,0,0,.15) 30%) !important;
		background-image:	linear-gradient(to top, transparent, rgba(0,0,0,.15)),
					linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%),
		        		linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%) !important; /* Firefox 16 */
	}
	
	#addon-bar > toolbarbutton:not([disabled]):hover image,
	#addon-bar > toolbarbutton[open] image,
	#addon-bar > toolbarbutton > .toolbarbutton-menubutton-button:not([disabled]):hover image {
		border-color: transparent !important;
		box-shadow: none !important;
		background: none !important;
	}
	
	/* Puzzle Pieces */
	#thePuzzlePiece-left-PP,
	#thePuzzlePiece-right-PP {
		position: fixed;
	}
	
	.PuzzlePiece image {
		list-style-image: url("chrome://thepuzzlepiece/skin/pp.png");
		cursor: pointer;
	}
	#thePuzzlePiece-left-PP image {
		-moz-image-region: rect(0px, 32px, 32px, 0px);
	}
	#thePuzzlePiece-right-PP image {
		-moz-image-region: rect(0px, 64px, 32px, 32px);
	}
	#thePuzzlePiece-urlbar-PP image {
		-moz-image-region: rect(0px, 96px, 32px, 64px);
	}
	#thePuzzlePiece-left-PP:hover image {
		-moz-image-region: rect(32px, 32px, 64px, 0px);
	}
	#thePuzzlePiece-right-PP:hover image {
		-moz-image-region: rect(32px, 64px, 64px, 32px);
	}
	#thePuzzlePiece-urlbar-PP:hover image {
		-moz-image-region: rect(32px, 96px, 64px, 64px);
	}
	
	#thePuzzlePiece-urlbar-PP image {
		height: 16px;
		width: 16px;
	}
	
	#addon-bar:not([inURLBar]):not([movetoright]) {
		padding-left: 17px;
	}
	#addon-bar:not([inURLBar])[movetoright] {
		padding-right: 17px;
	}
	
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP):not([customizing]):not([active]):not(:hover):not([hover]),
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP):not([customizing])[autohide]:not(:hover):not([hover]) {
		opacity: 0;
		-moz-transition: bottom .5s linear .2s, opacity .5s linear .2s, clip .5s linear .2s;
		transition: bottom .5s linear .2s, opacity .5s linear .2s, clip .5s linear .2s; /* Firefox 16+ */
	}
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP):hover,
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP)[hover],
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP)[active] {
		-moz-transition: bottom .25s linear 0s, opacity .25s linear 0s, clip .25s linear 0s;
		transition: bottom .25s linear 0s, opacity .25s linear 0s, clip .25s linear 0s; /* Firefox 16+ */
	}
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP):not([customizing]):not([active]):not(:hover):not([hover]) image {
		-moz-transition: -moz-transform .5s linear .2s;
		transition: transform .5s linear .2s; /* Firefox 16+ */
	}
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP):hover image,
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP)[hover] image,
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP)[active] image {
		-moz-transition: -moz-transform .25s linear 0s;
		transition: transform .25s linear 0s; /* Firefox 16+ */
	}
	
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP) {
		clip: rect(0px, 32px, 32px, 0px);
	}
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP) image {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg); /* Firefox 16 */
	}
	#thePuzzlePiece-left-PP:not([customizing]):not([active]):not(:hover):not([hover]) image {
		-moz-transform: rotate(-40deg);
		transform: rotate(-40deg); /* Firefox 16 */
	}
	#thePuzzlePiece-right-PP:not([customizing]):not([active]):not(:hover):not([hover]) image {
		-moz-transform: rotate(40deg);
		transform: rotate(40deg); /* Firefox 16 */
	}
	
	/* Animation in corners */
	#addon-bar:not([inURLBar]):hover,
	#addon-bar:not([inURLBar])[hover],
	#addon-bar:not([inURLBar])[customizing="true"],
	#addon-bar:not([inURLBar]):not([collapsed="true"]) {
		-moz-transition: bottom .25s linear 0s, opacity .25s linear 0s, clip .25s linear 0s;
		transition: bottom .25s linear 0s, opacity .25s linear 0s, clip .25s linear 0s; /* Firefox 16+ */
	}
	#addon-bar:not([inURLBar]):not([collapsed="true"])[autohide]:not(:hover):not([hover]):not([customizing="true"]) {
		-moz-transition: bottom .5s linear .2s, opacity .5s linear .2s, clip .5s linear .2s;
		transition: bottom .5s linear .2s, opacity .5s linear .2s, clip .5s linear .2s; /* Firefox 16+ */
	}
	#addon-bar:not([inURLBar])[collapsed="true"] {
		-moz-transition: bottom .5s linear 0s, opacity .5s linear 0s, clip .5s linear 0s;
		transition: bottom .5s linear 0s, opacity .5s linear 0s, clip .5s linear 0s; /* Firefox 16+ */
	}
	
	#addon-bar[inURLBar]:hover,
	#addon-bar[inURLBar][hover],
	#addon-bar[inURLBar][customizing="true"],
	#addon-bar[inURLBar]:not([collapsed="true"]) {
		-moz-transition: opacity .25s linear 0s;
		transition: opacity .25s linear 0s; /* Firefox 16+ */
	}
	#addon-bar[inURLBar]:not([collapsed="true"])[autohide]:not(:hover):not([hover]):not([customizing="true"]) {
		-moz-transition: opacity .5s linear .2s;
		transition: opacity .5s linear .2s; /* Firefox 16+ */
	}
	#addon-bar[inURLBar][collapsed="true"] {
		-moz-transition: opacity .5s linear 0s;
		transition: opacity .5s linear 0s; /* Firefox 16+ */
	}
	
	#addon-bar:not([collapsed="true"]):hover,
	#addon-bar:not([collapsed="true"])[hover],
	#addon-bar[customizing="true"] {
		opacity: 1;
	}
	
	#addon-bar[autohide]:not([customizing]):not(:hover):not([hover]) {
		opacity: 0;
	}
	
	/* in URLBar stuff */
	#thePuzzlePiece-urlbar-addonbar-container {
		overflow: hidden;
	}
	
	#thePuzzlePiece-urlbar-addonbar-container:not([active]),
	#thePuzzlePiece-urlbar-addonbar-container[autohide]:not(:hover):not([hover]) {
		width: 0px;
	}
	
	#thePuzzlePiece-urlbar-addonbar-container[active] {
		-moz-transition: width .25s linear 0s;
		transition: width .25s linear 0s; /* Firefox 16+ */
	}
	#thePuzzlePiece-urlbar-addonbar-container:not([active]) {
		/* These transitions aren't working for some reason! */
		-moz-transition: width .5s linear 0s;
		transition: width .5s linear 0s; /* Firefox 16+ */
	}
	#thePuzzlePiece-urlbar-addonbar-container[autohide]:not(:hover):not([hover]) {
		-moz-transition: width .5s linear .2s;
		transition: width .5s linear .2s; /* Firefox 16+ */
	}
	
}
