@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	.addon-bar *:not(#zoom-reset-button) > .toolbarbutton-text,
	window[PrintPreview="true"] .addon-bar,
	window[PrintPreview="true"] .PuzzlePiece {
		visibility: collapse;
	}
	
	/* Bugfix: we need our add-on bar always as the last visible element, even if it physically isn't */
	#thePuzzlePiece-addon-bar[placement="bottom"] { -moz-box-ordinal-group: 10000; }
	
	/* Bugfix: https://github.com/Quicksaver/The-Puzzle-Piece/issues/10 */
	#urlbar-icons #star-button { visibility: collapse !important; }
	
	/* status-bar */
	
	#status-bar {
		-moz-appearance: none;
		min-width: 1px;
		
		/* override australis shim */
		height: auto !important;
		
		/* override hidden="true" for the status bar compatibility shim in case it was persisted for the real status bar */
		display: -moz-box;
	}
	
	#status-bar > statusbarpanel {
		border-width: 0;
		-moz-appearance: none;
	}
	
	window[customizing="true"] #status-bar,
	window:not([customizing="true"]) #thePuzzlePiece-status-bar-placeholder {
		display: none;
	}
	
	toolbarpaletteitem[place="palette"] #thePuzzlePiece-status-bar-placeholder {
		color: transparent;
	}
	
}
