/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	/* the LastPass toolbar button has an extra unnecessary margin (its dropmarker is always hidden), that just pushes the toolbars further out than needed */
	.puzzleBars-bar:not(#puzzleBars-urlbar-bar) #lpt_lastpass-compact-btn > .toolbarbutton-icon { -moz-margin-end: 0 !important; }

	/* the Stylish button has an extra rule that always sets this padding when in the nav-bar */
	#nav-bar #puzzleBars-urlbar-bar #stylish-toolbar-button > .toolbarbutton-icon {
		-moz-padding-end: 0 !important;
	}

	/* fixes for Pick & Save Images add-on button */
	#nav-bar #puzzleBars-urlbar-bar #imageSaver-button[os=WINNT][cui-areatype=toolbar]:not([custom-theme]) .toolbarbutton-icon {
		padding: 0;
		width: 18px;
		max-width: 18px;
	}
	#nav-bar #puzzleBars-urlbar-bar #imageSaver-button[os=WINNT][cui-areatype=toolbar]:not([custom-theme]) .dropmarker-icon {
		padding-bottom: 0;
		width: 9px;
	}
	@media (-moz-os-version: windows-win10) {
		#nav-bar #puzzleBars-urlbar-bar #imageSaver-button[cui-areatype=toolbar]:not([custom-theme]) .toolbarbutton-icon {
			padding: 0;
		}
	}
	#nav-bar #puzzleBars-urlbar-bar #imageSaver-button[os=Linux][cui-areatype=toolbar]:not([custom-theme]) .toolbarbutton-icon {
		padding: 0;
		width: 18px !important;
	}
	#nav-bar #puzzleBars-urlbar-bar #imageSaver-button[os=Linux][cui-areatype=toolbar]:not([custom-theme]) .dropmarker-icon {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		width: 9px;
	}

}
