#categories .category image { list-style-image: url("chrome://puzzlebars/skin/panes.png"); }
#categories .category[value="paneBottom"] image { -moz-image-region: rect(0px 24px 24px 0px); }
#categories .category[value="paneCorner"] image { -moz-image-region: rect(0px 48px 24px 24px); }
#categories .category[value="paneLateral"] image { -moz-image-region: rect(0px 72px 24px 48px); }
#categories .category[value="paneTop"] image { -moz-image-region: rect(0px 96px 24px 72px); }
#categories .category[value="paneURLBar"] image { -moz-image-region: rect(0px 120px 24px 96px); }
#categories .category[value="paneAbout"] image { -moz-image-region: rect(0px 144px 24px 120px); }

/* keep left and right radio boxes on the actual left and right */
.ltr:-moz-locale-dir(rtl) { direction: ltr; }
.ltr > *:-moz-locale-dir(rtl) { direction: rtl; }

#paneCorner-behavior hbox[flex="1"] {
	min-width: 3em;
}
