@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	.puzzleBars-bar *:not(#zoom-reset-button) > .toolbarbutton-text,
	window:-moz-any([PrintPreview="true"],[puzzleBars-fullscreen]) .puzzleBars-bar,
	window:-moz-any([PrintPreview="true"],[puzzleBars-fullscreen]) .PuzzlePiece {
		visibility: collapse;
	}
	
	/* Bugfix: https://github.com/Quicksaver/The-Puzzle-Piece/issues/10 */
	#urlbar-icons #star-button { visibility: collapse !important; }
	
	/* Inner buttons and other elements display */
	
	/* !important tags are necessary, especially for inURLBar */
	.puzzleBars-bar .toolbarbutton-icon:not(:hover) {
		background: none !important;
		border: none !important;
		box-shadow: none !important;
	}
	
	.puzzleBars-bar .toolbarbutton-icon {
		max-height: 18px;
	}
	
	.puzzleBars-bar > toolbarbutton,
	.puzzleBars-bar > .customization-target > toolbarbutton {
		-moz-appearance: none;
	}
	
	.puzzleBars-bar #status-bar label {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.puzzleBars-bar > *:not(.customization-target) > toolbarbutton,
	.puzzleBars-bar > .customization-target > * > toolbarbutton {
		-moz-appearance: none;
		border: none;
	}
	
	.puzzleBars-bar *:not(#bookmarks-menu-button) > dropmarker {
		padding: 0 2px !important;
		border: none;
	}
	
	.puzzleBars-bar *:not(#bookmarks-menu-button) > dropmarker image {
		padding: 0 !important;
	}
	
	/* the bookmarks button is a special case because of its dropmarker */
	.puzzleBars-bar #bookmarks-menu-button dropmarker {
		padding: 0 3px !important;
		border: none;
	}
	.puzzleBars-bar #bookmarks-menu-button dropmarker image {
		padding: 0 !important;
	}
	
	/* don't show the little separator, as it'll be out of place in the add-on bar */
	.puzzleBars-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker:before {
		display: none !important;
	}
	
	/* These are for the mouse over effects, !important tags are necessary especially for when inURLBar is true */
	.puzzleBars-bar toolbarbutton:not([disabled]):hover,
	.puzzleBars-bar toolbarbutton[open],
	.puzzleBars-bar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled]):hover {
		background-position: left, left, right !important;
		background-size: auto, 1px 100%, 1px 100% !important;
		background-repeat: no-repeat !important;
		background-image:	linear-gradient(to top, transparent, rgba(0,0,0,.15)),
					linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%),
		        		linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%) !important;
	}
	.puzzleBars-bar toolbarbutton:not([disabled]):hover image,
	.puzzleBars-bar toolbarbutton[open] image,
	.puzzleBars-bar toolbarbutton > .toolbarbutton-menubutton-button:not([disabled]):hover image {
		border-color: transparent !important;
		box-shadow: none !important;
		background: none !important;
	}
	
	/* Puzzle Pieces */
	
	window[customizing="true"] .PuzzlePiece {
		display: none;
	}
	
	.PuzzlePiece image {
		list-style-image: url("chrome://puzzlebars/skin/pp.png");
		cursor: pointer;
	}
	
	/* try to keep the hovered puzzle piece on top of the others */
	window[puzzleBars-FF34] .PuzzlePiece:not([position]):hover { -moz-box-ordinal-group: 10; }
	
	/* overflow panels */
	
	.puzzleBars-overflow > .panel-arrowcontainer > .panel-arrowcontent {
		padding: 0;
	}
	
	.puzzleBars-overflow-scroller {
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 30em;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.puzzleBars-overflow-list {
		width: 22.35em;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.puzzleBars-overflow-list > .toolbaritem-combined-buttons {
		min-height: 28px;
	}
	
	.puzzleBars-overflow-button {
		list-style-image: url("chrome://browser/skin/Toolbar.png");
		-moz-image-region: rect(0, 612px, 18px, 594px);
	}
	
	toolbar[brighttext] .puzzleBars-overflow-button {
		list-style-image: url(chrome://browser/skin/Toolbar-inverted.png);
	}
	
}
