/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#status-bar {
	-moz-appearance: none;
	min-width: 1px;

	/* override australis shim */
	height: auto !important;

	/* override hidden="true" for the status bar compatibility shim in case it was persisted for the real status bar */
	display: -moz-box;
}

#status-bar > statusbarpanel {
	border-width: 0;
	-moz-appearance: none;
}

#puzzleBars-status-bar-placeholder {
	background-color: #FFF;
	background-image: repeating-linear-gradient(135deg, rgba(255,255,255,.15), rgba(255,255,255,.15) 5px, rgba(128,128,128,.15) 5px, rgba(128,128,128,.15) 10px);
	padding: 0 10px;
}

toolbarpaletteitem[place="palette"] #puzzleBars-status-bar-placeholder {
	background-image:	url("chrome://puzzlebars/skin/status-pp.png"),
				repeating-linear-gradient(135deg, rgba(255,255,255,.15), rgba(255,255,255,.15) 5px, rgba(128,128,128,.15) 5px, rgba(128,128,128,.15) 10px);
	background-position: center center;
	background-repeat: no-repeat;
}

window[customizing="true"] #status-bar,
window:not([customizing="true"]) #puzzleBars-status-bar-placeholder {
	display: none;
}

toolbarpaletteitem[place="palette"] #puzzleBars-status-bar-placeholder {
	color: transparent;
}
