@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	#status-bar {
		-moz-appearance: none;
		min-width: 1px;
		
		/* override australis shim */
		height: auto !important;
		
		/* override hidden="true" for the status bar compatibility shim in case it was persisted for the real status bar */
		display: -moz-box;
	}
	
	#status-bar > statusbarpanel {
		border-width: 0;
		-moz-appearance: none;
	}
	
	window[customizing="true"] #status-bar,
	window:not([customizing="true"]) #puzzleBars-status-bar-placeholder {
		display: none;
	}
	
	toolbarpaletteitem[place="palette"] #puzzleBars-status-bar-placeholder {
		color: transparent;
	}
	
}
