@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	#addon-bar[placement="corner"] {
		-moz-appearance: none !important;
		background-color: -moz-dialog;
		border-radius: 8px 8px 2px 2px;
		border-top: 2px solid threedshadow !important;
		border-right: 2px solid threedshadow;
		border-left: 2px solid threedshadow;
		-moz-border-top-colors: threedshadow threedhighlight;
		-moz-border-right-colors: threedshadow threedhighlight;
		-moz-border-left-colors: threedshadow threedhighlight;
	}
	
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP):not([customizing]):not([active]):not(:hover),
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP):not([customizing])[autohide]:not(:hover):not([hover]) {
		clip: rect(0px, 32px, 14px, 0px);
	}
	
}
