/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* style the add-on bar */

#puzzleBars-bottom-bar {
	box-shadow: 0 1px 0 rgba(0,0,0,.15) inset;
	min-height: 28px;
}

/* Puzzle Pieces */

#puzzleBars-bottom-PP:not([active]):not(:hover) {
	clip: rect(0px, 32px, 14px, 0px);
}

#puzzleBars-bottom-PP[active]:not(:hover) image {
	height: 25px;
}

#puzzleBars-bottom-PP:not([movetoright])[active]:not(:hover) image { margin-left: 4px; }
#puzzleBars-bottom-PP[movetoright][active]:not(:hover) image { margin-right: 4px; }
