@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* style the add-on bar */

#puzzleBars-top-bar {
	min-height: 26px;
}

/* Puzzle Pieces */

#puzzleBars-top-PP:not([active]):not(:hover) {
	clip: rect(18px, 32px, 32px, 0px);
}

#puzzleBars-top-PP[active]:not(:hover) image {
	height: 25px;
}

#puzzleBars-top-PP:not([movetoright])[active]:not(:hover) image { margin-left: 4px; }
#puzzleBars-top-PP[movetoright][active]:not(:hover) image { margin-right: 4px; }
