@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	#addon-bar:not([inURLBar]) {
		-moz-appearance: none !important;
		background-color: #E8E8E8 !important;
		border-top: 1px solid #888;
		border-right: 1px solid #888;
		border-left: 1px solid #888;
		-moz-border-top-colors: #888;
		-moz-border-right-colors: #888;
		-moz-border-left-colors: #888;
	}
	
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP):not([customizing]):not([active]):not(:hover),
	.PuzzlePiece:not(#thePuzzlePiece-urlbar-PP):not([customizing])[autohide]:not(:hover):not([hover]) {
		clip: rect(0px, 32px, 14px, 0px);
	}
	
}
