@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	/* special style for buttons in the add-on bar */
	
	.addon-bar .toolbarbutton-1,
	.addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
	.addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
		-moz-appearance: none;
		/* !important flags needed because of bug 561154: */
		margin: 0 !important;
		padding: 0 !important;
		border: none !important;
		border-radius: 0 !important;
		background: none !important;
		box-shadow: none !important;
	}
	
	.addon-bar .toolbarbutton-1:not([type="menu-button"]),
	.addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button {
		margin: 0;
		padding: 0 1px;
	}
	
	.addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
		padding-left: 4px;
		padding-right: 4px;
	}
	
	.addon-bar .toolbarbutton-1:not([type="menu-button"]):not([disabled]):not([open]):hover,
	.addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover,
	.addon-bar .toolbarbutton-1:not([disabled]):not([buttonover]):hover > .toolbarbutton-menubutton-dropmarker {
		background-image: linear-gradient(transparent, rgba(0,0,0,.15)) !important;
	}
	
	.addon-bar .toolbarbutton-1:not([type="menu-button"]):not([disabled]):hover:active,
	.addon-bar .toolbarbutton-1[type="menu"][open],
	.addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover:active,
	.addon-bar .toolbarbutton-1[open]:not([disabled]):hover > .toolbarbutton-menubutton-dropmarker {
		background-image: linear-gradient(transparent, rgba(0,0,0,.3)) !important;
	}

	/* style the add-on bar */
	
	.addon-bar {
		min-height: 18px;
	}
	
	.addon-bar:not(:-moz-lwtheme) {
		-moz-appearance: statusbar;
	}
	
	/* overflow panels */
	
	.puzzleBars-overflow-button:hover:active:not([disabled="true"]) {
		-moz-image-region: rect(18px, 612px, 36px, 594px);
	}
	
	@media (min-resolution: 2dppx) {
		.puzzleBars-overflow-button {
			list-style-image: url("chrome://browser/skin/Toolbar@2x.png");
		}
		
		toolbar[brighttext] .puzzleBars-overflow-button {
			list-style-image: url("chrome://browser/skin/Toolbar-inverted@2x.png");
		}
		
		.puzzleBars-overflow-button {
			-moz-image-region: rect(0, 1224px, 36px, 1188px);
		}
		
		.puzzleBars-overflow-button:hover:active:not([disabled="true"]) {
			-moz-image-region: rect(36px, 1224px, 72px, 1188px);
		}
		
		.puzzleBars-overflow-button > .toolbarbutton-icon {
			width: 18px;
		}
	}

}
