@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {

	/*Animation*/
	#addon-bar {
		position: fixed;
		padding: 3px 5px 3px 5px;
		border-radius: 5px 5px 0 0;
	}
	
	#addon-bar:not([autohide]) {
		bottom: 0px;
	}
	
	#addon-bar[autohide]:hover,
	#addon-bar[autohide][active],
	#addon-bar[autohide][customizing="true"] {
		bottom: 0px;
		opacity: 1;
		-moz-transition: bottom .5s linear 0s, opacity .5s linear 0s;
		transition: bottom .5s linear 0s, opacity .5s linear 0s; /* Firefox 16+ */
	}
	
	#addon-bar[autohide]:not(:hover):not([active]) {
		opacity: 0;
		-moz-transition: bottom .5s linear .2s, opacity .5s linear .2s;
		transition: bottom .5s linear .2s, opacity .5s linear .2s; /* Firefox 16+ */
	}
	
}
