@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url("chrome://browser/content/browser.xul") {
	
	/* FindBar has an annoying 1px background that makes the add-on bar look ugly */
	#FindToolbar:not([movetotop]) {
		border-top: 1px solid rgb(0,0,0);
		-moz-border-top-colors: rgb(160, 160, 160);
	}
	
	#addon-bar {
		border-top: 1px solid rgb(0,0,0);
		border-right: 1px solid rgb(0,0,0);
		border-left: 1px solid rgb(0,0,0);
		-moz-border-top-colors: rgb(160, 160, 160);
		-moz-border-right-colors: rgb(160, 160, 160);
		-moz-border-left-colors: rgb(160, 160, 160);
	}
	
	window:not([thePuzzlePiece-oscpu="Windows NT 5.1"]) #addon-bar {
		background-color: rgb(219,234,249);
	}
	
	window[thePuzzlePiece-oscpu="Windows NT 5.1"] #addon-bar {
		background-color: -moz-dialog;
	}
	
	window[thePuzzlePiece-oscpu="Windows NT 5.1"] #addon-bar #status-bar resizer {
		display: none !important;
	}
	
	.PuzzlePiece[clipped][active],
	.PuzzlePiece[clipped]:hover {
		clip: rect(0px, 32px, 28px, 0px);
	}
	.PuzzlePiece:not([active]):not(:hover) {
		clip: rect(0px, 32px, 9px, 0px);
	}
	
}
