@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#status-bar {
	background-color: transparent;
	border: none;
	min-height: 0;
}

#puzzleBars-status-bar-placeholder {
	box-shadow: inset 0 0 1px 1px #808080;
}

.puzzleBars-bar #status-bar resizer {
	display: none !important;
}
